@import url(normalize.css);
* {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: 'Avenir';
  src: url("../fonts/AvenirNextCyr-Medium.ttf") format("truetype");
  font-weight: 500; }

@font-face {
  font-family: 'FiraSans';
  src: url("../fonts/FiraSans-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: 'ProximaNova ';
  src: url("../fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: 700; }

@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: 400; }

body {
  font-family: "ProximaNova", sans-serif; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

.main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%; }
  .main-wrapper {
    max-width: 1170px;
    width: 100%;
    margin: 200px auto 0;
    background: #fff; }

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
  width: 100%;
  height: 91px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: 0px 2px 11px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 11px 4px rgba(0, 0, 0, 0.1); }
  .form__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 2.47%;
    position: relative; }
    .form__item:nth-child(1) {
      width: 20.22%; }
      .form__item:nth-child(1):after {
        content: '';
        position: absolute;
        left: 100%;
        top: 50%;
        width: 2px;
        height: 32px;
        background: #e9e9e9;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%); }
    .form__item:nth-child(2) {
      width: 30.67%;
      padding-right: 26px; }
      .form__item:nth-child(2):after {
        content: '';
        position: absolute;
        left: 100%;
        top: 50%;
        width: 2px;
        height: 32px;
        background: #e9e9e9;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%); }
    .form__item:last-child {
      margin-left: 1.71%; }
    .form__item-descr {
      font-size: 12px;
      font-family: "ProximaNova";
      margin-bottom: 7px; }
      .form__item-descr span {
        margin-right: 157px; }
    .form__item-select {
      width: 100%;
      margin-top: 5px; }
      .form__item-select__wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 100%; }
    .form__item-input {
      background: url(../img/placeholder.png) 0 0 no-repeat;
      padding-left: 24px;
      border: none; }
      .form__item-input__container {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; }
      .form__item-input__number {
        font-family: "Avenir";
        font-size: 16px;
        color: #8b9198;
        border: 1px solid #8b9198;
        width: 30px;
        height: 27px;
        padding-left: 9px; }
    .form__item-btn__wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin: 1px 0 1px 6px; }
    .form__item-btn__more {
      width: 10px;
      height: 9px;
      background: url(../img/btn-inactive.svg) 0 0 no-repeat;
      -webkit-background-size: contain;
              background-size: contain;
      cursor: pointer; }
    .form__item-btn__more.active {
      background: url(../img/btn-active.svg) 0 0 no-repeat;
      -webkit-background-size: contain;
              background-size: contain; }
    .form__item-btn__less {
      width: 10px;
      height: 9px;
      background: url(../img/btn-inactive.svg) 0 0 no-repeat;
      -webkit-background-size: contain;
              background-size: contain;
      -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
              transform: rotate(180deg);
      cursor: pointer; }
    .form__item-btn__less.active {
      background: url(../img/btn-active.svg) 0 0 no-repeat;
      -webkit-background-size: contain;
              background-size: contain; }
    .form__item-plus {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: 35px;
      height: 35px;
      background: #fed18c;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      position: relative;
      cursor: pointer; }
      .form__item-plus span {
        width: 15px;
        height: 3px;
        -webkit-border-radius: 1px;
                border-radius: 1px;
        background: #fff;
        position: absolute;
        top: 47%;
        left: 50%; }
        .form__item-plus span:first-child {
          -webkit-transform: translate(-50%) rotate(90deg);
              -ms-transform: translate(-50%) rotate(90deg);
                  transform: translate(-50%) rotate(90deg); }
        .form__item-plus span:last-child {
          -webkit-transform: translateX(-50%);
              -ms-transform: translateX(-50%);
                  transform: translateX(-50%); }
    .form__item-find {
      font-size: 16px;
      font-family: "ProximaNova";
      text-transform: uppercase;
      width: 175px;
      height: 63px;
      background: #ed9915;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      font-weight: 700;
      color: #fff;
      letter-spacing: 2px;
      -webkit-border-radius: 1px;
              border-radius: 1px;
      cursor: pointer; }

#input-place,
#input-arrival,
#input-departure {
  font-family: "FiraSans";
  font-size: 18px;
  font-weight: 700;
  font-style: italic; }

#input-arrival,
#input-departure {
  color: #383838; }

#input-place {
  color: #6b6b6b; }

.option-line {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%; }

.date-arrival,
.date-departure {
  font-family: "FiraSans";
  color: #383838;
  font-size: 18px; }

.select-dot {
  width: 3px;
  height: 3px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #9f9f9f;
  display: inline-block;
  margin: 0 11%; }

.select2-container--default .select2-selection--single {
  border: none; }
  .select2-container--default .select2-selection--single .select2-selection__arrow b {
    width: 12px;
    height: 7px;
    background: url(../img/select-arrow.svg) 0 0 no-repeat;
    -webkit-background-size: contain;
            background-size: contain;
    border: none; }

.select2-search--dropdown {
  display: none; }

.select2-selection--single {
  outline: none; }

#date__label {
  width: 18px;
  height: 19px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: url(../img/calendar.png) 0 0 no-repeat;
  margin-top: 3px; }

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #ed9915; }

@media (max-width: 1170px) {
  .form {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    height: 182px;
    padding-left: 10px; }
  .form__item:nth-child(1), .form__item:nth-child(2) {
    width: 45%; }
  .form__item:nth-child(2) {
    padding-right: 0; }
    .form__item:nth-child(2):after {
      display: none; }
  #date__label {
    width: 30px; } }

@media (max-width: 768px) {
  .form {
    overflow: hidden; } }
